
.popup__form-item_type_place {
  font-size: 12px;
  line-height: 15px;
}

.popup__form-item_type_place:nth-of-type(1) {
  margin-top: 36px;
}

@media screen and (min-width: 1280px) {
  .popup__form-item_type_place {
    font-size: 14px;
    line-height: 17px;
  }

  .popup__form-item_type_place:nth-of-type(1) {
    margin-top: 54px;
  }
}