.photo-grid__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: black;
  margin: 25px 15px 31px;
  margin: 0;
  max-width: 210px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}