.popup__close-button_type_profile {
  right: 0;
  top: -39px;
  width: 26px;
  height: 26px;
}

@media screen and (min-width: 1280px) {
  .popup__close-button_type_profile  {
    width: 40px;
    height: 40px;
    top: -36px;
    right: -28px;
  }
}