.photo-grid__delete-button {
  background-image: url(../../../images/Trash.svg);
  background-size: cover;
  background-color: transparent;
  border: none;
  width: 18px;
  height: 19.3px;
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 15px;
  transition: opacity 0.3s ease;
  opacity: 1;
}

.photo-grid__delete-button:hover {
  opacity: 0.6;
}
