.popup__window {
  background-color: #fff;
  border-radius: 15px;
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 430px;
}

