.popup__window {
  background-color: #fff;
  border-radius: 15px;
  position: relative;
  box-sizing: border-box;
  padding: 25px 22px;
  margin-top: 123px;
  width: calc(100% - 2*19px);
  height: 322px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 430px;
}

@media screen and (min-width: 1280px) {
  .popup__window {
    height: 330px;
    padding: 36px 34px;
    margin-top: 195px;
  }
}
