.popup__close-button {
  position: absolute;
  right: 0;
  top: -38.62px;
  background-image: url(../../../images/Close-Button.svg);
  background-size: cover;
  background-color: transparent;
  width: 26px;
  height: 26px;
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: opacity 0.3s ease;
  opacity: 1;
  cursor: pointer;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media screen and (min-width: 1280px) {
  .popup__close-button  {
    width: 40px;
    height: 40px;
    top: -35.72px;
    right: -27.72px;
  }
}