.photo-grid__like-button {
  background-image: url(../../../images/like_disabled.svg);
  background-size: cover;
  background-color: transparent;
  border: none;
  width: 20.76px;
  height: 18.13px;
  transition: opacity 0.3s ease;
  opacity: 1;
  cursor: pointer;
  margin-bottom: 3px;
}

.photo-grid__like-button:hover {
  opacity: 0.5;
}

